project:
  title: "quarto"
  execute-dir: file 
  post-render: bash -c "mv $QUARTO_PROJECT_OUTPUT_FILES ~/Git/LGraz.github.io/_posts"

knitr:
  opts_chunk:
    fig.path: "~/Git/LGraz.github.io/assets/"   

execute: 
  echo: true
  warning: true
  keep-md: true
  keep-yaml: true

format:
  gfm+yaml_metadata_block

number-sections: true

R_init_project: '`r ({
  # knitr::opts_knit$set(base.dir = "~/Git/LGraz.github.io/", base.url = "/")
  # knitr::opts_chunk$set(fig.path = paste0("assets/R-images/", .proj_title, "/"))
  print("R init project")
  NULL})`'


